// Позиционирует footer всегда снизу
main {
    @media screen and (max-width: $preTablet) {
        min-height: calc(100vh - 612px);
    }

    @media screen and (min-width: $tablet) {
        min-height: calc(100vh - 472px);
    }

    @media screen and (min-width: $desctop) {
        min-height: calc(100vh - 243px);
    }
}

// Скрыть не нарушая семантику
.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

body.is-fixed {
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.close-button {
    position: absolute;

    padding: 0;
    background-color: var(--white-color);
    border: none;

    @media screen and (max-width: $preTablet) {
        top: 16px;
        right: 16px;
    }

    @media screen and (min-width: $tablet) {
        top: 24px;
        right: 24px;
    }

    &__icon {
        fill: var(--balck-color);

        @media screen and (max-width: $preTablet) {
            font-size: 18px;
        }

        @media screen and (min-width: $tablet) {
            font-size: 24px;
        }
    }
}