// font-family: 'Montserrat-Regular', sans-serif; (400)
// font-family: 'Montserrat-Medium', sans-serif; (500)
// font-family: 'Montserrat-SemiBold', sans-serif; (600)
// font-family: 'Montserrat-Bold', sans-serif; (700)
// font-family: 'Inter-Medium', sans-serif; (500)
// font-family: 'Inter-Bold', sans-serif; (700)
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('fonts/Montserrat-SemiBold.eot');
    src: local('☺'), url('fonts/Montserrat-SemiBold.woff') format('woff'), url('fonts/Montserrat-SemiBold.ttf') format('truetype'), url('fonts/Montserrat-SemiBold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('fonts/Montserrat-Regular.eot');
    src: local('☺'), url('fonts/Montserrat-Regular.woff') format('woff'), url('fonts/Montserrat-Regular.ttf') format('truetype'), url('fonts/Montserrat-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('fonts/Montserrat-Medium.eot');
    src: local('☺'), url('fonts/Montserrat-Medium.woff') format('woff'), url('fonts/Montserrat-Medium.ttf') format('truetype'), url('fonts/Montserrat-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('fonts/Montserrat-Bold.eot');
    src: local('☺'), url('fonts/Montserrat-Bold.woff') format('woff'), url('fonts/Montserrat-Bold.ttf') format('truetype'), url('fonts/Montserrat-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Medium';
    src: url('fonts/Inter-Medium.eot');
    src: local('☺'), url('fonts/Inter-Medium.woff') format('woff'), url('fonts/Inter-Medium.ttf') format('truetype'), url('fonts/Inter-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('fonts/Inter-Bold.eot');
    src: local('☺'), url('fonts/Inter-Bold.woff') format('woff'), url('fonts/Inter-Bold.ttf') format('truetype'), url('fonts/Inter-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}