<section class="section section__about" id="about">
   <div class="container about__container">
      <h2 class="title about__title">about</h2>
      <div class="about__wrapper">
         <p class="about__text">We are a minimalistic flower studio. We love people and flowers. Therefore, every day we give people the beauty and joy
         creating stylish and modern masterpieces. Every bouquet we create is unique as you are.
         </p>
         <div class="about__tumb">
            <picture>
               <source 
               srcset="./images/about-desctop632.jpg 1x, ./images/about-desctop1264.jpg 2x" 
               media="(min-width: 1280px)"
               >
               <source 
               srcset="./images/about-tablet344.jpg 1x, ./images/about-tablet688.jpg 2x" 
               media="(min-width: 768px)"
               >
               <source 
               srcset="./images/about-mobile288.jpg 1x, ./images/about-mobile576.jpg 2x" 
               media="(max-width: 767.98px)"
               >
               <img class="about__image"
               srcset="./images/about-desctop632.jpg 1x, ./images/about-desctop1264.jpg 2x" 
               src="./images/about-desctop632.jpg"
               alt="квітка Анемон"
               >
            </picture>
         </div>
      </div>
   </div> 
</section>