<section class="blog" id="blog">
  <h2 class="blog__title">blog</h2>
  <div class="blog__slider">
    <div class="blog__item">
      <picture>
        <source
          srcset="
            ./images/2flowers-blog-desctop390.jpg 1x,
            ./images/2flowers-blog-desctop780.jpg 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/2flowers-blog-tablet344.jpg 1x,
            ./images/2flowers-blog-tablet688.jpg 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/2flowers-blog-mobile153.jpg 1x,
            ./images/2flowers-blog-mobile306.jpg 2x
          "
          media="(max-width:767px)"
        />
        <img
          class="blog__img"
          src="./images/2flowers-blog-mobile153.jpg"
          alt="orange red lily flower"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="blog__item">
      <picture>
        <source
          srcset="
            ./images/4flowers-blog-desctop390.jpg 1x,
            ./images/4flowers-blog-desctop780.jpg 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/4flowers-blog-tablet344.jpg 1x,
            ./images/4flowers-blog-tablet688.jpg 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/4flowers-blog-mobile153.jpg 1x,
            ./images/4flowers-blog-mobile306.jpg 2x
          "
          media="(max-width:767px)"
        />
        <img
          class="blog__img"
          src="./images/4flowers-blog-mobile153.jpg"
          alt="nice quite little bouquet of flowers"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="blog__item">
      <picture>
        <source
          srcset="
            ./images/5flowers-blog-desctop390.jpg 1x,
            ./images/5flowers-blog-desctop780.jpg 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/5flowers-blog-tablet344.jpg 1x,
            ./images/5flowers-blog-tablet688.jpg 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/5flowers-blog-mobile153.jpg 1x,
            ./images/5flowers-blog-mobile306.jpg 2x
          "
          media="(max-width:767px)"
        />
        <img
          class="blog__img"
          src="./images/5flowers-blog-mobile153.jpg"
          alt="nice quite little bouquet of flowers"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="blog__item">
      <picture>
        <source
          srcset="
            ./images/6flowers-blog-desctop390.jpg 1x,
            ./images/6flowers-blog-desctop780.jpg 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/6flowers-blog-tablet344.jpg 1x,
            ./images/6flowers-blog-tablet688.jpg 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/6flowers-blog-mobile153.jpg 1x,
            ./images/6flowers-blog-mobile306.jpg 2x
          "
          media="(max-width:767px)"
        />
        <img
          class="blog__img"
          src="./images/6flowers-blog-mobile153.jpg"
          alt="nice quite little bouquet of flowers"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
  <h3 class="blog__subtitle">Follow to our newsletter</h3>
  <button class="blog__button" type="submit" data-modal-follow-two-open>Subscribe</button>
</section>
