<section class="section section__delivery" id="delivery">
    <div class="container delivery__container">
        <h2 class="title delivery__title">delivery</h2>
        <ol class="delivery__list">
            <li class="delivery__item">Choose your bouquet and make an order on website</li>
            <li class="delivery__item">Wait for the call to clarify the details of the order. You can pay online or to the courier</li>
            <li class="delivery__item">Wait for the delivery at the selected time or pick up the order from the store</li>
            <li class="delivery__item">Make someone happy or enjoy yourself</li>
        </ol>
    </div>
    <div class="delivery__tumb">
        <picture>
            <source
                srcset="./images/delivery-desctop1280.jpg 1x, ./images/delivery-desctop2560.jpg 2x"
                media="(min-width: 1280px)"
            >
            <source 
                srcset="./images/delivery-tablet768.jpg 1x, ./images/delivery-tablet1536.jpg 2x"
                media="(min-width: 768px)"
            >
            <source 
                srcset="./images/delivery-mobile320.jpg 1x, ./images/delivery-mobile640.jpg 2x"
                media="(max-width: 767.98px)"
            >
            <img class="delivery__image" 
                srcset="./images/delivery-desctop1280.jpg 1x, ./images/delivery-desctop2560.jpg 2x"
                src="./images/delivery-desctop1280.jpg" 
                alt="букет Анемон"
            >
        </picture>
    </div>
</section>