<footer class="footer">
  <div class="footer__container">
    <div class="footer__logo">
      <a href="#" class="footer__logo-link" aria-label="Логотип Flover studio">
        <!-- <svg class="footer__logo-icon" width="20" height="20">
            <use href="../images/logo-desctop.svg></use>
        </svg> -->
    </a>
    </div>
    <div class="footer__nav">
      <h2 class="footer__title">Navigation</h2>
      <ul class="footer__list">
        <li class="footer__item"><a href="" class="footer__link">Anemone</a></li>
        <li class="footer__item"><a href="" class="footer__link">About us</a></li>
        <li class="footer__item"><a href="" class="footer__link">Store</a></li>
        <li class="footer__item"><a href="" class="footer__link">Delivery</a></li>
      </ul>
    </div>
    <div class="footer__time">
      <h2 class="footer__title">Opening times</h2>
      <p class="footer__text">Every day <br>
        9:00 - 22:00</p>
    </div>
    <address class="address">
      <h2 class="address__title">Contacts</h2>
      <ul class="address__list">
        <li class="address__elem"><a href="tel:+380631234567" class=" address__addr">+38 063 123 45 67</a>
        </li>
        <li class="address__elem"><a href="mailto:anemonestudio@example.com"
                class="address__addr">anemonestudio@example.com</a>
        </li>
    </ul>
    <a href="https://www.google.com/maps/place/%D0%B2%D1%83%D0%BB%D0%B8%D1%86%D1%8F+%D0%A0%D0%B5%D0%B9%D1%82%D0%B0%D1%80%D1%81%D1%8C%D0%BA%D0%B0,+11,+%D0%9A%D0%B8%D1%97%D0%B2,+02000/data=!4m2!3m1!1s0x40d4ce5bde74d21f:0x3ddb1fc45e18228?sa=X&ved=2ahUKEwi4yfiWuoH8AhXms4sKHe8UDmgQ8gF6BAgPEAE"
                            target="_blank" rel="noopener noreferrer" class="address__location">Reitarska Street, 11 <br>
                            Kyiv, Ukraine</a>
    </address>
    <div class="footer__social">

    </div>
  </div>
</footer>