<header class="header">
  <div class="header__container">
    <a href="#">
      <img
        class="header__logo"
        src="./images/logo-desctop.svg"
        width="72"
        height="57"
        alt="logo"
      />
    </a>
    <nav class="header__nav nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="">Anemone</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">About us</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">Store</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">Delivery</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">Blog</a>
        </li>
      </ul>
    </nav>
    <div class="header__contakt">
      <a class="header__tel" href="tel:+380631234567">
        <img class="header__tel-logo" src="./images/tel.svg" alt="tel" />
      </a>
    </div>
  </div>
</header>
