<header class="header">
  <div class="header__container">
    <a href="#">
      <img
        class="header__logo"
        src="./images/logo-desctop.svg"
        width="72"
        height="57"
        alt="logo"
      />
    </a>
    <nav class="header__nav nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="">Anemone</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">About us</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">Store</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">Delivery</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="">Blog</a>
        </li>
      </ul>
    </nav>
    <div class="header__contakt">
      <a class="header__tel" href="tel:+380631234567">
        <img class="header__tel-logo" src="./images/tel.svg" alt="tel" />
      </a>
    </div>
    <button class="nav__icon icon-nav" type="button">
      <img
        class="nav__burger"
        width="24"
        height="24"
        src="./images/burger.svg"
        alt="burger"
      />
    </button>

    <div class="mobile__container js-menu-container">
      <div class="mobile__button">
        <button class="mobile__close js-close-menu" type="button">
          <use>
            <svg
              class="mobile__icon-menu"
              width="18"
              height="18"
              href="./images/cross-menu.svg"
            ></svg>
          </use>
          <!-- <img
            class="mobile__icon-menu"
            src="./images/cross-menu.svg"
            alt="close"
            width="18"
            height="18"
          /> -->
        </button>
        <ul class="mobile__list">
          <li class="mobile__item">
            <a class="mobile__link" href="">Anemone</a>
          </li>
          <li class="mobile__item">
            <a class="mobile__link" href="">About us</a>
          </li>
          <li class="mobile__item">
            <a class="mobile__link" href="">Store</a>
          </li>
          <li class="mobile__item">
            <a class="mobile__link" href="">Delivery</a>
          </li>
          <li class="mobile__item">
            <a class="mobile__link" href="">Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
