<div class="backdrop-thanks is-hidden" data-modal>
    <div class="modal-thanks">
        <button class="modal-thanks__button" type="button">
            <svg class="modal-thanks__close-icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><rect x="0" y="0" width="24" height="24" fill="none" stroke="none" /><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M20 20L4 4m16 0L4 20"/></svg>
        </button>
        <div>
            <h2 class="contact-form__title">Contact us</h2>
            <p class="contact-form__text">If you have any additional questions or you want to clarify something before you make an order please fill in your contact details. We will call you back. </p>
            <button class="contact-form__button" type="button">Send</button>
        </div>
        <form class="contact-form" name="contact-form">
            
        </form>
    </div>
  </div>