<div class="backdrop-follow is-hidden" data-modal>
    <div class="modal-follow">
        <button class="close-button" type="button">
            <svg class="close-button__icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><rect x="0" y="0" width="24" height="24" fill="none" stroke="none" /><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M20 20L4 4m16 0L4 20"/></svg>
        </button>
        <div class="modal-follow__tumb"></div>
        <div class="modal-follow__desc">
            <h2 class="modal-follow__title">Follow to our newsletter</h2>
            <p class="modal-follow__text">Be the first  to get exclusive offers and the latest  news on our product directly in your box.</p>
            <button class="modal-follow__button" type="button">Continue</button>
        </div>
    </div>
  </div>