<div class="backdrop-follow is-hidden" data-modal-follow data-modal-follow-two>
    <div class="modal-follow">
        <button class="close-button" type="button" data-modal-follow-close>
            <svg class="close-button__icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><rect x="0" y="0" width="24" height="24" fill="none" stroke="none" /><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M20 20L4 4m16 0L4 20"/></svg>
        </button>
        <div class="modal-follow__tumb"></div>
        <form class="follow-form" name="follow-form">
            <h2 class="follow-form__title">Follow to our newsletter</h2>
            <p class="follow-form__text">Be the first  to get exclusive offers and the latest  news on our product directly in your box.</p>
            <label class="follow-form__lable">
                <p class="follow-form__desc">Email</p>
                <input class="follow-form__input" type="email" placeholder="Your email" name="contact-email">
            </label>
            <button class="follow-form__button" type="submit">Continue</button>
        </form>
    </div>
</div>