<div class="backdrop-thanks is-hidden" data-modal>
    <div class="modal-thanks">
        <button class="close-button" type="button">
            <svg class="close-button__icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><rect x="0" y="0" width="24" height="24" fill="none" stroke="none" /><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M20 20L4 4m16 0L4 20"/></svg>
        </button>
        <svg class="thanks__icon" width="100px" height="100px">
            <use width="100px" height="100px" href="./images/thanks-modal.svg"></use>
        </svg>
        <h2 class="modal-thanks__title">Thank you!</h2>
        <p class="modal-thanks__text">We have received your contact details and will reach you soon.</p>
        <button class="modal-thanks__button" type="button">Continue</button>
    </div>
  </div>