<div class="backdrop-contact is-hidden" data-modal>
    <div class="modal-contact">
        <button class="modal-contact__button" type="button">
            <svg class="modal-contact__close-icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><rect x="0" y="0" width="24" height="24" fill="none" stroke="none" /><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M20 20L4 4m16 0L4 20"/></svg>
        </button>
    </div>
  </div>