<section class="store" id="store">
  <div class="container">
    <h2 class="store__title">store</h2>
    <ul class="store__list">
      <li class="store__item">
        <picture>
          <source
            srcset="
              ./images/1bouquet-story-desctop600.jpg  1x,
              ./images/1bouquet-story-desctop1200.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/1bouquet-story-tablet344.jpg 1x,
              ./images/1bouquet-story-tablet788.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/1bouquet-story-mobile136.jpg 136w,
              ./images/1bouquet-story-mobile272.jpg 272w
            "
            media="(max-width:767px)"
          />
          <img
            class="store__img"
            src="./images/1bouquet-story-mobile136.jpg"
            alt="nice quite little bouquet of flowers"
            loading="lazy"
          />
        </picture>
        <h3 class="store-item__title">compliments</h3>
        <p class="store-item__price">from $15</p>
      </li>
      <li class="store__item">
        <picture>
          <source
            srcset="
              ./images/2bouquet-story-desctop600.jpg  1x,
              ./images/2bouquet-story-desctop1200.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/2bouquet-story-tablet344.jpg 1x,
              ./images/2bouquet-story-tablet688.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/2bouquet-story-mobile136.jpg 136w,
              ./images/2bouquet-story-mobile272.jpg 272w
            "
            media="(max-width:767px)"
          />
          <img
            class="store__img"
            src="./images/2bouquet-story-mobile136.jpg"
            alt="tender little bouquet of flowers covered in white paper"
            loading="lazy"
          />
        </picture>
        <h3 class="store-item__title">bouquets size S</h3>
        <p class="store-item__price">from $25</p>
      </li>
      <li class="store__item">
        <picture>
          <source
            srcset="
              ./images/3bouquet-story-desctop600.jpg  1x,
              ./images/3bouquet-story-desctop1200.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/3bouquet-story-tablet344.jpg 1x,
              ./images/3bouquet-story-tablet688.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/3bouquet-story-mobile136.jpg 136w,
              ./images/3bouquet-story-mobile272.jpg 272w
            "
            media="(max-width:767px)"
          />
          <img
            class="store__img"
            src="./images/3bouquet-story-mobile136.jpg"
            alt="middle size bouquet of different flowers covered in white paper"
            loading="lazy"
          />
        </picture>
        <h3 class="store-item__title">bouquets size M</h3>
        <p class="store-item__price">from $45</p>
      </li>
      <li class="store__item">
        <picture>
          <source
            srcset="
              ./images/4bouquet-story-desctop600.jpg  1x,
              ./images/4bouquet-story-desctop1200.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/4bouquet-story-table344.jpg 1x,
              ./images/4bouquet-story-table688.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/4bouquet-story-mobile136.jpg 136w,
              ./images/4bouquet-story-mobile272.jpg 272w
            "
            media="(max-width:767px)"
          />
          <img
            class="store__img"
            src="./images/4bouquet-story-mobile136.jpg"
            alt="large size bouquet of roses covered in white paper"
            loading="lazy"
          />
        </picture>
        <h3 class="store-item__title">bouquets size L</h3>
        <p class="store-item__price">from $60</p>
      </li>
    </ul>
    <button class="store__button" type="button">Order flowers</button>
  </div>
</section>
