.section__about {
    padding-top: 50px;
    @media screen and (max-width: $preTablet) {
        padding-bottom: 30px;
    }

    @media screen and (min-width: $tablet) {
        padding-bottom: 50px;
    }
}

.about__container {
    @extend %container
}

.about__title {
    @extend %title;
}

.about__wrapper {
    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}