.footer {

  &__container {
  }

  &__nav {
  }

  &__title {
    font-family: 'Inter-Bold', sans-serif;
    font-size: 18px;
    line-height: calc(22 / 18);
    color: red($color: #000000);
  }

  &__list {
  }

  &__item {
  }

  &__link {
  }

  &__time {
  }

  &__text {
  }
}
.logo-footer {

  &__link {
  }

  &__icon {
  }
}

.address {

  &__title {
    font-family: 'Inter-Bold', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: calc(22 / 18);
  }

  &__list {
  }

  &__elem {
  }

  &__addr {
  }

  &__location {
  }
}
.footer-social {

  &__list {
  }

  &__item {
  }

  &__link {
  }

  &__icon {
  }
}
