.backdrop-contact {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.3);

    @media screen and (max-width: $preMobile) {
        padding-top: 90px;
        padding-right: 24px;
        padding-left: 24px;
    }

    @media screen and (min-width: $mobile) {
        display: flex;
        justify-content: center;
        padding-top: 90px;
    }

    @media screen and (min-width: $desctop) {
        align-items: center;
    }
}

.modal-contact {
    position: relative;

    min-height: 357px;
    padding: 48px 32px;

    background-color: var(--white-color);

    @media screen and (min-width: $mobile) {
        width: 432px;
    }

    @media screen and (min-width: $tablet) {
        width: 480px;
    }
}

.contact-form {
    &__title {
        font-family: 'Montserrat-SemiBold', sans-serif;
        color: var(--balck-color);

        @media screen and (max-width: $preTablet) {
            font-size: 20px;
            line-height: calc(24/20);
            margin-bottom: 14px;
        }

        @media screen and (min-width: $tablet) {
            font-size: 32px;
            line-height: calc(39/32);
            margin-bottom: 24px;
        }
    }

    &__text {
        font-family: 'Montserrat-Medium', sans-serif;
        color: var(--modal-text-color);

        @media screen and (max-width: $preTablet) {
            font-size: 12px;
            line-height: calc(15/12);
            margin-bottom: 18px;
        }

        @media screen and (min-width: $tablet) {
            font-size: 16px;
            line-height: calc(20/16);
            margin-bottom: 32px;
        }
    }

    &__list {
        @extend %list;
    }

    &__item {}

    &__lable {}

    &__desc {
        font-family: 'Montserrat-Medium', sans-serif;
        color: var(--modal-text-color);
        margin-bottom: 8px;

        @media screen and (max-width: $preTablet) {
            font-size: 10px;
            line-height: calc(12/10);
        }

        @media screen and (min-width: $tablet) {
            font-size: 14px;
            line-height: calc(17/14);
        }
    }

    &__input {}
}

.modal-contact__button {
    position: absolute;

    padding: 0;
    background-color: var(--white-color);
    border: none;

    @media screen and (max-width: $preTablet) {
        top: 16px;
        right: 16px;
    }

    @media screen and (min-width: $tablet) {
        top: 24px;
        right: 24px;
    }
}

.modal-contact__close-icon {
    fill: var(--balck-color);

    @media screen and (max-width: $preTablet) {
        font-size: 18px;
    }

    @media screen and (min-width: $tablet) {
        font-size: 24px;
    }
}