.backdrop-thanks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: var(--white-color);
}

.modal-thanks {
    width: 100%;
    height: 100%;

    @media screen and (max-width: $preTablet) {
        padding: 32px 16px;
    }

    @media screen and (min-width: $tablet) {
        padding: 54px 32px;
    }

    &__icon {
        width: 100%;
        height: auto;
    }

    &__title {
        font-family: 'Montserrat-SemiBold', sans-serif;
        color: var(--black-color);

        @media screen and (max-width: $preTablet) {
            font-size: 20px;
            line-height: calc(24/20);
        }
    }

    &__text {}

    &__button {}
}