.backdrop-follow {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.3);

    @media screen and (max-width: $preTablet) {
        padding-top: 60px;
        padding-right: 24px;
        padding-left: 24px;
    }

    @media screen and (min-width: $mobile) {
        display: flex;
        justify-content: center;
    }

    @media screen and (min-width: $mobile) and (max-width: $preTablet) {
        padding-top: 153px;
        align-items: flex-start;
    }

    @media screen and (min-width: $tablet) {
        align-items: center;
    }
}

.modal-follow {
    position: relative;
    background-color: var(--white-color);

    @media screen and (max-width: $preTablet) {
        max-width: 480px;
    }

    @media screen and (min-width: $tablet) and (max-width: $preDesctop) {
        width: 588px;
    }

    @media screen and (min-width: $desctop) {
        width: 860px;
    }

    &__tumb {
        height: 121px;
        background-color: red;
    }

    &__form {
        @media screen and (max-width: $preTablet) {
            padding-top: 18px;
            padding-right: 16px;
            padding-bottom: 28px;
            padding-left: 16px;
        }
    }


}

.follow-form {
    @media screen and (max-width: $preTablet) {
        padding-top: 18px;
        padding-right: 16px;
        padding-bottom: 28px;
        padding-left: 16px;
    }

    &__title {
        font-family: 'Montserrat-SemiBold', sans-serif;
        text-align: center;

        color: var(--black-color);

        @media screen and (max-width: $preTablet) {
            font-size: 19px;
            line-height: calc(23/19);
            margin-bottom: 14px;
        }

        @media screen and (min-width: $tablet) {
            font-size: 28px;
            line-height: calc(34/28);
            margin-bottom: 24px;
        }
    }

    &__text {
        font-family: 'Montserrat-Regular', sans-serif;
        color: var(--modal-text-color);
        text-align: center;

        @media screen and (max-width: $preTablet) {
            font-size: 12px;
            line-height: calc(16/12);
            margin-bottom: 18px;
        }

        @media screen and (min-width: $tablet) {
            font-size: 16px;
            line-height: calc(21/16);
            margin-bottom: 32px;
        }

    }

    &__button {
        width: 100%;
        padding: 14px;
        border: none;
        border-radius: 8px;

        background-color: var(--brend-color);
        color: var(--white-color);

        font-family: 'Montserrat-SemiBold', sans-serif;

        @media screen and (max-width: $preTablet) {
            font-size: 14px;
            line-height: calc(17/14);
        }

        @media screen and (min-width: $tablet) {
            font-size: 18px;
            line-height: calc(22/18);
        }
    }
}