.store {
  @extend %section;
  @extend %container;
  &__title {
    @extend %title;
    margin-bottom: 32px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 60px;
    }
    @media screen and (min-width: $desctop) {
      margin-bottom: 80px;
    }
  }
  &__list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;

    @media screen and (min-width: $tablet) {
        margin-bottom: 60px;
    }
  }
  &__item {
    &:nth-child(odd) {
      margin-right: 16px;
    }
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 16px;
    }
    width: calc((100% - 16px) / 2);
    @media screen and (min-width: $tablet) {
      &:nth-child(odd) {
        margin-right: 32px;
      }
      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 40px;
      }
      width: calc((100% - 32px) / 2);
    }
    @media screen and (min-width: $desctop) {
      width: calc((100% - 32px) / 2);
      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 64px;
      }
    }
  }
  &__img {
    margin-bottom: 12px;

    @media screen and (min-width: $mobile) {
      margin-bottom: 16px;
    }
  }

  &__button {
    @extend %button;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}
.store-item {
  &__title {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-bottom: 6px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 8px;
      font-size: 32px;
      line-height: calc(39 / 32);

      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        margin-left: 8px;
        background-color: var(--black-color);
      }
    }
    @media screen and (min-width: $desctop) {
      margin-bottom: 4px;
      font-size: 36px;
      line-height: calc(44 / 36);

      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        margin-left: 16px;
        background-color: var(--black-color);
      }
    }
  }

  &__price {
    font-weight: 600;
    font-size: 12px;
    line-height: calc(15 / 12);
    color: var(--black-color);
    opacity: 0.6;

    @media screen and (min-width: $preTablet) {
      font-size: 24px;
      line-height: calc(29 / 24);
    }
    @media screen and (min-width: $preDesctop) {
      font-size: 28px;
      line-height: calc(34 / 28);
    }
  }
}
