.store{
  @extend %section;
  @extend %container;

  &__title{
    @extend %title;
    margin-bottom: 32px;
  }
  &__list{
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  &__item{
    width:calc((100% - 16px)/2);
  }

  &__button{
    @extend %button;


  }


}